body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
span {
  color: coral;
}
.flexible-container {
  display: flex;
  margin-bottom: 50px;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.half-width {
  width: 50%;
  padding-left: 02%;
}
.half-width img {
  width: 90%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, red);
  padding: 10px 20px;
  color: white;
  font-weight: 700;
  border-radius: 05px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width2 {
  width: 60%;
  box-shadow: 10px 10px 40px crimson;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.half-width2 img {
  width: 80%;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.new-color {
  color: crimson;
}
.experience {
  padding-left: 25px;
}
.big {
  color: darkblue;
}
#border {
  border-image: linear-gradient(red, yellow);
  border-left: 7px solid;
  border-image-slice: 1;
}
#border2 {
  border-image: linear-gradient(red, yellow);
  border-left: 7px solid;
  border-image-slice: 1;
}
